<html>
	<head>
		<title>NGP VAN Hackathon!</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
		<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js"></script>
		<script src="lib/seed-random/index.js"></script>
		<script src="lib/irv-cascade/irv-cascade.js"></script>
	</head>
	<body ng-app="hacktive-directathon" ng-controller="MainCtrl">

		<script type="text/ng-template" id="new-project.html">
			<strong><a ng-click="createProject()">Create a new Project</a> or <a href="">Join an Existing Project</a></strong>
		</script>

		<script type="text/ng-template" id="edit-project.html">
			<strong css="display: inline;">{{project.name}}</strong> <a href="">Edit</a> <a href="">Delete</a>
			<p>{{ project.description }}
		</script>

		<script type="text/ng-template" id="create-project.html">
			<input placeholder="Project Name" ng-model="$parent.newProject.name" />
			<textarea placeholder="Description" ng-model="$parent.newProject.description"></textarea>
			<input type="button" value="Save" ng-click="$parent.saveProject()" />
		</script>

		{{ newProject.name }}
		{{ newProject.description }}

		<p>You're logged in as <strong><%= user.name -%></strong>.

		<div ng-include="projectTmpl.url"></div>

		<h3>Awards</h3>
		<div ng-repeat="award in awards">
			<strong>{{award.name}}</strong> - {{award.description}}
		</div>

		<script src="js/main.js"></script>
		<script>
			app.value('awards', <%- JSON.stringify(awards) %>);
			<% if (project) { %>
				app.value('project', <%- JSON.stringify(project) %>);
			<% } else { %>
				app.value('project', null);
			<% } %>
			<% if(user) { %>
				app.value('userId', '<%- user._id.toString() %>');
			<% } else { %>
				app.value('userId', null);
			<% } %>
		</script>

	</body>
</html>